services:
  backend:
    build: ./backend
    ports:
      - "3001:3000"
    env_file:
      - ./backend/.env
    environment:
      - PORT=3000
    volumes:
      - ./logs/backend:/app/logs
      - ./data:/app/data
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    volumes:
      - ./logs/frontend:/var/log/nginx
    restart: always
